{% extends "base.html" %}
{% block title %} Change Password - {% endblock title %}
{% block main %}
<div class="row">
	<div class="span8">
	<h2>Change your password</h2>
	<hr />
		<form class="form-horizontal" action="" method="post">{% csrf_token %}
			{% if form.errors %}
			<div class="alert alert-error">
					<ul>
						<li>Check error blow</li>
					</ul>
					{{ form.non_field_errors }}
			</div>
			{% endif %}	
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<div class="control-group {% if form.old_password.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ form.old_password.html_name }}">Old password</label>
				<div class="controls">
				  <input id="id_{{ form.old_password.html_name }}" type="password" name="{{ form.old_password.html_name }}"  placeholder="Old password">
				  <span class="help-inline"> {% for error in form.old_password.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>			
			<div class="control-group {% if form.new_password1.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ form.new_password1.html_name }}">New password</label>
				<div class="controls">
				  <input id="id_{{ form.new_password1.html_name }}" type="password" name="{{ form.new_password1.html_name }}"  placeholder="New password">
				  <span class="help-inline"> {% for error in form.new_password1.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			<div class="control-group {% if form.new_password2.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ form.new_password2.html_name }}">New password confirmation</label>
				<div class="controls">
				  <input id="id_{{ form.new_password2.html_name }}" type="password" name="{{ form.new_password2.html_name }}"  placeholder="New password confirmation">
				  <span class="help-inline"> {% for error in form.new_password2.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Change password</button>
				</div>
			  </div>
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock main %}