{% extends "base.html" %}
{% block title %} Password reset - {% endblock title %}
{% block main %}
<div class="row">
	<div class="span8">
		<h2>Enter email</h2>
		<hr />
		<p>Enter the email that is associated to your account<p>
		<br />
		<form  class="form-horizontal" action="" method="post">{% csrf_token %}
		
			
				<div class="control-group {% if form.email.errors %}error{% endif %}">
					<label class="control-label" for="id_{{ form.email.html_name }}">Email address</label>
					<div class="controls">
						<div class="input-prepend" >
							<span class="add-on"><i class="icon-envelope"></i></span>
							<input class="span3" id="id_{{ form.email.html_name }}" type="text" name="{{ form.email.html_name }}" placeholder="E-mail">							
						</div>
						<span class="help-inline"> {% for error in form.email.errors %}{{ error }}{% endfor %}</span>
					</div>
				</div>
			<div class="control-group" >
				<div class="controls" >
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</div>
			
		
		</form>
	</div>
</div>
{% endblock %}