{% extends "base.html" %}
{% block title %} Create user successful - Database and Software Research Center{% endblock title %}
{% block main %}
<div class="row">
	<div class="span8">
	<br />
		<!--<div class="progress progress-success">
		  <div class="bar" style="width: 100%"></div>
		</div>-->
	<h2>Thank you for registering</h2>
	<hr/>
	<br/>
		<!--<p>An email has been sent to you. Use the link inside it to activate the account.</p>
		<p>The account will be deleted if you don't activate it in <strong>three days</strong>.</p>-->
		<p>You will be receiving a confirmation email shortly to confirm the registration. <strong>Please click on the link in the email</strong> to confirm the registration and activate your account.</p>
		<p>It is possible that the email could end up in your spam folder, so please check there just in case. If you do find an email in your spam folder, do not forget to mark it as safe to ensure that you receive future messages from us.</p>
		<p><strong>AOL users:</strong> If you don't receive a confirmation email from us, click on the "Settings" link for your email, then click "Spam Controls" and then check the option "Deliver blocked mail to Spam folder". Once you do this, check your spam folder for our confirmation email. Make sure to mark us as a safe sender in order to receive future communications from the site.</p>
	</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock main %}