{% extends "base.html" %}
{% block title %} Create user successful - Database and Software Research Center{% endblock title %}
{% block main %}
<div class="row">
	<div class="span8">
	<br />
		<div class="progress progress-success">
		  <div class="bar" style="width: 100%"></div>
		</div>
	<h2>Successful user creation</h2>
	<hr/>
	<br/>
		<p>An email has been sent to you. Use the link inside it to activate the account.</p>
		<p>The account will be deleted if you don't activate it in <strong>three days</strong>.</p>
	</div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock main %}