			{% if wizard.form.errors %}
			<div class="alert alert-error">
					<ul>
						<li>Check error blow</li>
					</ul>
					{{ wizard.form.non_field_errors }}					
			</div>
			{% endif %}	
			{% for hidden in wizard.form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			{# Include the visible fields #}
			
			<div class="control-group {% if wizard.form.username.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ wizard.form.username.html_name }}">Username</label>
				<div class="controls">
					<input id="id_{{ wizard.form.username.html_name }}" type="text" name="{{ wizard.form.username.html_name }}" value="{% firstof wizard.form.username.value %}" placeholder="Username">					
					<span class="help-inline"> {% for error in wizard.form.username.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			
			<br /><hr />
			<div class="control-group {% if wizard.form.password1.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ wizard.form.password1.html_name }}">Password</label>
				<div class="controls">
				  <input id="id_{{ wizard.form.password1.html_name }}" type="password" name="{{ wizard.form.password1.html_name }}" value="{% firstof wizard.form.password1.value %}"  placeholder="Password">
				  <span class="help-inline"> {% for error in wizard.form.password1.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			<div class="control-group {% if wizard.form.password2.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ wizard.form.password2.html_name }}">Password confirmation</label>
				<div class="controls">
				  <input id="id_{{ wizard.form.password2.html_name }}" type="password" name="{{ wizard.form.password2.html_name }}" value="{% firstof wizard.form.password2.value %}"  placeholder="Password confirmation">
				  <span class="help-inline"> {% for error in wizard.form.password2.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			<hr /><br />
			<div class="control-group {% if wizard.form.email1.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ wizard.form.email1.html_name }}">Email Address</label>
				<div class="controls">
				  <input id="id_{{ wizard.form.email1.html_name }}" type="text" name="{{ wizard.form.email1.html_name }}" value="{% firstof wizard.form.email1.value %}" placeholder="E-mail">
				  <span class="help-inline"> {% for error in wizard.form.email1.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>
			<div class="control-group {% if wizard.form.email2.errors %}error{% endif %}">
				<label class="control-label" for="id_{{ wizard.form.email2.html_name }}">Email address confirmation</label>
				<div class="controls">
				  <input id="id_{{ wizard.form.email2.html_name }}" type="text" name="{{ wizard.form.email2.html_name }}" value="{% firstof wizard.form.email2.value %}" placeholder="E-mail confirmation">
				  <span class="help-inline"> {% for error in wizard.form.email2.errors %}{{ error }}{% endfor %}</span>
				</div>
			</div>