{% extends "base.html" %}
{% block title %}{{type}} My courses - {% endblock title %}
{% block main %}
<div class="row">
	<div class="span8">
		<ul class="breadcrumb">
			<li><a href="/">Home</a> <span class="divider">/</span></li>
			<li><a href="/accounts/profile/">My profile</a> <span class="divider">/</span></li>
			<li><a href="/courses/my_courses/">My courses</a> <span class="divider">/</span></li>
			<li class="active">course Information</li>
		</ul>
	<h2>Course Information</h2>
		<hr />
		<dl class="dl-horizontal">
		  <dt>Type</dt>
		  <dd>Introduction to C++</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Status</dt>
		  <dd>Done!</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Start date:</dt>
		  <dd>12 Mar 2012</dd>
		  <dt>End date:</dt>
		  <dd>12 Apr 2012</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Instructor</dt>
		  <dd>Mohamed Ibrahim Eldesouki Tawfik</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Place</dt>
		  <dd>Lab. 11</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>No. of sessions</dt>
		  <dd>14</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Attendance</dt>
		  <dd>
			<div class="well well-large schedule">
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session absence">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session absence">12 Mar 2012 <hr/> 2 hours</div>
				<div class="session attend">12 Mar 2012 <hr/> 2 hours</div>
				<br class="clear"/>
			</div>
		</dd>
		</dl>
		<dl class="dl-horizontal">
		  <dt>Exam date:</dt>
		  <dd>15 Apr 2012</dd>
		  <dt>Exam degree:</dt>
		  <dd>91 <span class="label label-success">Success</span></dd>
		</dl>
		<dl class="dl-horizontal">
			<dt>Messages</dt>
			<dd>
<div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Public messages</a></li>
                <li><a href="#lB" data-toggle="tab">Private messages</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
				  <div class="message" style="">
					<div class="subject">No course today</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
                </div>
                <div class="tab-pane" id="lB">
                  <div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
					<div class="message" style="">
					<div class="subject">dfgfd</div>
					<div class="datetime">12 Dec 2003</div>
						<div class="content">
							<p>Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you Hi all I'm there for you</p>
						</div>
					</div>
                </div>
              </div>
            </div> <!-- /tabbable -->
			</dd>
		</dl>				
	</div>
</div>
{% endblock main %}