{% extends "base.html" %}

{% block title %} Student Registeration - Database and Software Research Center{% endblock title %}

{% block main %}
	<h2>Thank You for Registeration</h2>
	<hr />
	<p class="zelta">Your Information has been saved in our database.</p>
	<p class="zelta">We will contact you as soon as possible</p>
	<p class="zelta">You still can modify you information <a href="/courses/student/{{student_id}}/update">HERE</a></p>
	
	<h2 style="text-align:center;margin-top:3em;">Thank You</h2>

{% endblock main %}